.app {
  padding: 5rem 0;
  background-color: #f2f5f9;
  main {
    display: flex;
    width: 1200px;
    margin: auto;
    border: 3px solid #f2f5f9;
    padding: 1rem;
    border-radius: 15px;
    background-color: white;
  }
}
