form {
  background-color: #f2f5f9;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  color: white;

  h5 {
    font-size: 20px;
    color: #1d1d1e;
    text-align: center;
  }

  .formContent {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;



    .divFiled {
      display: flex;
      align-items: center;

      label {
        margin-left: 5px;
        color: black;
      }

      input {
        border: none;
        outline: none;
        height: 32px;
        border-radius: 10px;
        padding: 0 5px;
        background-color: transparent;
        border-bottom: 1px solid #525252;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 16px;
      }

    }

    button {
      border: none;
      background-color: #3599ff;
      color: white;
      padding: 10px;
      border-radius: 10px;
      min-width: 120px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }

    .must {
      border-bottom: 1px solid #d53636;
    }
  }


  @media screen and (max-width: 750px) {
    margin: 1rem 0;

    h5 {
      margin-top: 10px;
    }

    .formContent {
      flex-direction: column;

      .divFiled {
        margin: 10px 0;
      }

      button {
        margin-top: 1rem;
      }
    }
  }
}