* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik", sans-serif;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  color: #1a1a1a;
  padding: 10px 0;
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: #525252;
}

li {
  color: #a9a9a9;
}
